@import "tailwindcss";

@theme {
  --color-cafe-dark: #0a0a0a;
  --color-cafe-gold: #c5a059;
  --color-cafe-cream: #f5f5dc;
  --color-cafe-accent: #1a1a1a;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-cafe-dark);
  cursor: none; /* Hide default cursor for our custom one */
}